In [1]:
import numpy as np
import pandas as pd
import matplotlib as plt

In [2]:
codes_df = pd.read_csv('Event_Codes.txt', sep='\t')
game_lineup_df = pd.read_csv('Game_Lineup.txt', sep='\t')
playxplay_df = pd.read_csv('Play_by_Play.txt', sep='\t')

### EDA
*Descriptions taken from prompt.*
Codes_df: This dataset provides look up values for the event message types and action types found in the play by play dataset. Each code is converted to an English language description of the event

In [3]:
display(codes_df.head(10))
print(codes_df.dtypes)

,Event_Msg_Type,Action_Type,Event_Msg_Type_Description,Action_Type_Description
0,1,0,Made Shot,No Shot
1,1,1,Made Shot,Jump Shot
2,1,2,Made Shot,Running Jump Shot
3,1,3,Made Shot,Hook Shot
4,1,4,Made Shot,Tip Shot
5,1,5,Made Shot,Layup Shot
6,1,6,Made Shot,Driving Layup Shot
7,1,7,Made Shot,Dunk Shot
8,1,8,Made Shot,Slam Dunk Shot
9,1,9,Made Shot,Driving Dunk Shot

Event_Msg_Type                 int64
Action_Type                    int64
Event_Msg_Type_Description    object
Action_Type_Description       object
dtype: object

In [4]:
events_descr = codes_df['Event_Msg_Type_Description'].unique()
actions_descr = codes_df['Action_Type_Description'].unique()

In [5]:
print('List Of Events')
print(events_descr)
print('List of Actions')
print(actions_descr)

List Of Events
['Made Shot                               '
 'Missed Shot                             '
 'No Shot                                 '
 'Free Throw                              '
 'Rebound                                 '
 'Turnover                                '
 'Foul                                    '
 'Violation                               '
 'Substitution                            '
 'Timeout                                 '
 'Jump Ball                               '
 'Ejection                                '
 'Start Period                            '
 'End Period                              '
 'Validation                              '
 'Memo                                    '
 'Flash Stats                             '
 'Supplemental                            '
 'Instant Replay                          '
 'Final Box Printed                       '
 'Stoppage                                ']
List of Actions
['No Shot' 'Jump Shot' 'Running Jump Shot' 'Hook Shot' 'Tip Shot'
 'Layup Shot' 'Driving Layup Shot' 'Dunk Shot' 'Slam Dunk Shot'
 'Driving Dunk Shot' 'Running Layup Shot' 'Alley Oop Layup shot'
 'Reverse Layup Shot' 'Turnaround Jump Shot' 'Running Dunk Shot'
 'Reverse Dunk Shot' 'Alley Oop Dunk Shot' 'Running Tip Shot'
 'Running Hook Shot' 'Driving Hook Shot' 'Turnaround Hook Shot'
 'Finger Roll Shot' 'Running Finger Roll Shot' 'Driving Finger Roll Shot'
 'Turnaround Finger Roll Shot' 'Fadeaway Jump Shot' 'Follow Up Dunk Shot'
 'Jump Hook Shot' 'Jump Bank Shot' 'Hook Bank Shot'
 'Finger Roll Layup Shot' 'Putback Layup Shot'
 'Driving Reverse Layup Shot' 'Running Reverse Layup Shot'
 'Driving Finger Roll Layup Shot' 'Running Finger Roll Layup Shot'
 'Driving Jump shot' 'Floating Jump shot' 'Pullup Jump shot'
 'Step Back Jump shot' 'Pullup Bank shot' 'Driving Bank shot'
 'Fadeaway Bank shot' 'Running Bank shot' 'Turnaround Bank shot'
 'Turnaround Fadeaway shot' 'Putback Dunk Shot' 'Driving Slam Dunk Shot'
 'Reverse Slam Dunk Shot' 'Running Slam Dunk Shot'
 'Putback Reverse Dunk Shot' 'Putback Slam Dunk Shot'
 'Driving Bank Hook Shot' 'Jump Bank Hook Shot' 'Running Bank Hook Shot'
 'Turnaround Bank Hook Shot' 'Tip Layup Shot' 'Cutting Layup Shot'
 'Cutting Finger Roll Layup Shot' 'Running Alley Oop Layup Shot'
 'Driving Floating Jump Shot' 'Driving Floating Bank Jump Shot'
 'Running Pull-Up Jump Shot' 'Step Back Bank Jump Shot'
 'Turnaround Fadeaway Bank Jump Shot' 'Running Alley Oop Dunk Shot'
 'Tip Dunk Shot' 'Cutting Dunk Shot' 'Driving Reverse Dunk Shot'
 'Running Reverse Dunk Shot' nan 'Free Throw 1 of 1' 'Free Throw 1 of 2'
 'Free Throw 2 of 2' 'Free Throw 1 of 3' 'Free Throw 2 of 3'
 'Free Throw 3 of 3' 'Free Throw Technical' 'Free Throw Clear Path'
 'Free Throw Flagrant 1 of 2' 'Free Throw Flagrant 2 of 2'
 'Free Throw Flagrant 1 of 1' 'Free Throw Technical 1 of 2'
 'Free Throw Technical 2 of 2' 'Free Throw Clear Path 1 of 2'
 'Free Throw Clear Path 2 of 2' 'Free Throw Flagrant 1 of 3'
 'Free Throw Flagrant 2 of 3' 'Free Throw Flagrant 3 of 3' 'Unknown'
 'Normal Rebound' 'Dead Ball Rebound' 'No Turnover' 'Bad Pass' 'Lost Ball'
 'Out Of Bounds' 'Traveling' 'Foul' 'Double Dribble' 'Discontinue Dribble'
 '3 Second Violation' '5 Second Violation' '8 Second Violation'
 'Shot Clock Turnover' 'Inbound Turnover' 'Backcourt Turnover'
 'Illegal Pick' 'Offensive Goaltending' 'Isolation Violation'
 'Lane Violation' 'Jump Ball Violation' 'Kicked Ball Violation'
 'Illegal Assist Turnover' 'Palming Turnover' 'Post Up Turnover'
 'Double Personal Turnover' '10 Second Violaton' 'Stolen Pass Turnover'
 'Opposite Basket Turnover' 'Punched Ball Turnover'
 'Swinging Elbows Turnover' 'Basket from Below Turnover'
 'Illegal Screen Turnover' 'Offensive Foul Turnover'
 '5 Second Inbound Turnover' 'Step Out of Bounds Turnover'
 'Out of Bounds Lost Ball Turnover' 'Poss Lost Ball Turnover'
 'Excess Timeout Turnover' 'Player Out of Bounds Violation Turnover'
 'Too Many Players Turnover' 'Out of Bounds - Bad Pass Turnover' 'No Foul'
 'Personal' 'Shooting' 'Loose Ball' 'Offensive' 'Inbound' 'Away From Play'
 'Elbow' 'Punching' 'Clear Path' 'Double Personal' 'Technical'
 'Non-Unsportsmanlike Technical' 'Hanging Technical' 'Flagrant Type 1'
 'Flagrant Type 2' 'Double Technical' 'Defense 3 Second' 'Delay Technical'
 'Taunting Technical' 'Player Control' 'Indirect Technical'
 'Excess Timeout Technical' 'Offensive Charge' 'Personal Block'
 'Personal Take' 'Shooting Block' 'Too Many Players Technical'
 'No Violation' 'Delay Of Game' 'Defensive Goaltending' 'Lane' 'Jump Ball'
 'Kicked Ball' 'Double Lane' 'Illegal Defense' ' ' 'No Timeout' 'Regular'
 'Short' 'Official TV' 'Official' 'Advance' 'Reset' 'No Ejection'
 'Second Technical' 'Second Flagrant Type 1' 'First Flagrant Type 2'
 'Other' 'Support Ruling' 'Overturn Ruling' 'Altercation Ruling'
 'No Stoppage' 'Blood Rule' 'Injury' 'Out-of-Bounds' 'Court Cleanup'
 'Equipment Malfunction' 'Other                                   ']

Game_lineup_df provides the start of period player availability.
* Game_id– a unique game code for each game
* Period(Quarter) – the associated period of the line up (overtime periods are indicated by values greater than 
* Person_id– a unique identifier for each player
* Team_id– a unique identifier for each team 
* Status– a variable indicating whether the player is active (A) or inactive (I)

In [7]:
display(game_lineup_df.head(15))
print(game_lineup_df.dtypes)

,Game_id,Period,Person_id,Team_id,status
0,006728e4c10e957011e1f24878e6054a,0,ae53f8ba6761b64a174051da817785bc,01be0ad4af7aeb1f6d2cc2b6b6d6d811,A
1,006728e4c10e957011e1f24878e6054a,0,44230324724c84f122ac62a5f0918314,45ba8fc87f55b1191c50c400dc7ed11c,A
2,006728e4c10e957011e1f24878e6054a,0,8d2127290c94bd41b82a2938734bc750,01be0ad4af7aeb1f6d2cc2b6b6d6d811,A
3,006728e4c10e957011e1f24878e6054a,0,48ec4e6c52f418d5ca4ef510ba473ea0,45ba8fc87f55b1191c50c400dc7ed11c,A
4,006728e4c10e957011e1f24878e6054a,0,e816ff284dc3f965b8f3d605a3b91bae,01be0ad4af7aeb1f6d2cc2b6b6d6d811,A
5,006728e4c10e957011e1f24878e6054a,0,ed95dff5440fadf3042b5acacea81eed,01be0ad4af7aeb1f6d2cc2b6b6d6d811,A
6,006728e4c10e957011e1f24878e6054a,0,616281dee946056b071699476fdee9ec,45ba8fc87f55b1191c50c400dc7ed11c,A
7,006728e4c10e957011e1f24878e6054a,0,e814950408915f43de2b079dce7c21c5,45ba8fc87f55b1191c50c400dc7ed11c,A
8,006728e4c10e957011e1f24878e6054a,0,2ad626904c8b28cceb8e12c624a84240,01be0ad4af7aeb1f6d2cc2b6b6d6d811,A
9,006728e4c10e957011e1f24878e6054a,0,bd45fe7dba52aa2cd00ba80ff107d05b,01be0ad4af7aeb1f6d2cc2b6b6d6d811,I
10,006728e4c10e957011e1f24878e6054a,0,766802a8fda500d7945950de7398c9c6,01be0ad4af7aeb1f6d2cc2b6b6d6d811,A
11,006728e4c10e957011e1f24878e6054a,0,99104de2626f67c1fa2ce70504970c3f,45ba8fc87f55b1191c50c400dc7ed11c,A
12,006728e4c10e957011e1f24878e6054a,0,42e0d7167f04a4ff958c6442da0e6851,01be0ad4af7aeb1f6d2cc2b6b6d6d811,A
13,006728e4c10e957011e1f24878e6054a,0,c5dd5b2e3b975f0849d9b74e74125cb9,01be0ad4af7aeb1f6d2cc2b6b6d6d811,A
14,006728e4c10e957011e1f24878e6054a,0,5db9c1c8184510fee8161e7fafdc9c49,01be0ad4af7aeb1f6d2cc2b6b6d6d811,A

Game_id      object
Period        int64
Person_id    object
Team_id      object
status       object
dtype: object

In [11]:
one_game = game_lineup_df[(game_lineup_df['Game_id'] == '006728e4c10e957011e1f24878e6054a') 
                          & (game_lineup_df['Period'] == 0)]
one_game.sort_values(['Team_id'])

,Game_id,Period,Person_id,Team_id,status
0,006728e4c10e957011e1f24878e6054a,0,ae53f8ba6761b64a174051da817785bc,01be0ad4af7aeb1f6d2cc2b6b6d6d811,A
23,006728e4c10e957011e1f24878e6054a,0,e59b921ab3da55f632bc748beb12805a,01be0ad4af7aeb1f6d2cc2b6b6d6d811,A
21,006728e4c10e957011e1f24878e6054a,0,618f6d58ab2881152607c2a6e057bc51,01be0ad4af7aeb1f6d2cc2b6b6d6d811,A
19,006728e4c10e957011e1f24878e6054a,0,dd1da128c27db468d95b99b583f8a57d,01be0ad4af7aeb1f6d2cc2b6b6d6d811,A
17,006728e4c10e957011e1f24878e6054a,0,c10b49616a2f4a23607dc1a8be4fde9f,01be0ad4af7aeb1f6d2cc2b6b6d6d811,I
15,006728e4c10e957011e1f24878e6054a,0,f4a5ca938177c407a9dab5412e39498f,01be0ad4af7aeb1f6d2cc2b6b6d6d811,A
13,006728e4c10e957011e1f24878e6054a,0,c5dd5b2e3b975f0849d9b74e74125cb9,01be0ad4af7aeb1f6d2cc2b6b6d6d811,A
12,006728e4c10e957011e1f24878e6054a,0,42e0d7167f04a4ff958c6442da0e6851,01be0ad4af7aeb1f6d2cc2b6b6d6d811,A
10,006728e4c10e957011e1f24878e6054a,0,766802a8fda500d7945950de7398c9c6,01be0ad4af7aeb1f6d2cc2b6b6d6d811,A
14,006728e4c10e957011e1f24878e6054a,0,5db9c1c8184510fee8161e7fafdc9c49,01be0ad4af7aeb1f6d2cc2b6b6d6d811,A
8,006728e4c10e957011e1f24878e6054a,0,2ad626904c8b28cceb8e12c624a84240,01be0ad4af7aeb1f6d2cc2b6b6d6d811,A
5,006728e4c10e957011e1f24878e6054a,0,ed95dff5440fadf3042b5acacea81eed,01be0ad4af7aeb1f6d2cc2b6b6d6d811,A
4,006728e4c10e957011e1f24878e6054a,0,e816ff284dc3f965b8f3d605a3b91bae,01be0ad4af7aeb1f6d2cc2b6b6d6d811,A
9,006728e4c10e957011e1f24878e6054a,0,bd45fe7dba52aa2cd00ba80ff107d05b,01be0ad4af7aeb1f6d2cc2b6b6d6d811,I
2,006728e4c10e957011e1f24878e6054a,0,8d2127290c94bd41b82a2938734bc750,01be0ad4af7aeb1f6d2cc2b6b6d6d811,A
27,006728e4c10e957011e1f24878e6054a,0,4dd3d6a51dc97c651d3a86eec4362a1f,45ba8fc87f55b1191c50c400dc7ed11c,A
26,006728e4c10e957011e1f24878e6054a,0,5cce6ffa455e6372d9de0de400482ab6,45ba8fc87f55b1191c50c400dc7ed11c,A
25,006728e4c10e957011e1f24878e6054a,0,bf6ed471f8425903310f08548a206905,45ba8fc87f55b1191c50c400dc7ed11c,I
24,006728e4c10e957011e1f24878e6054a,0,4413c19cf092bda39332d7833c90bfe6,45ba8fc87f55b1191c50c400dc7ed11c,A
1,006728e4c10e957011e1f24878e6054a,0,44230324724c84f122ac62a5f0918314,45ba8fc87f55b1191c50c400dc7ed11c,A
22,006728e4c10e957011e1f24878e6054a,0,902362537ff2a39c0c0cfb82ab0adac2,45ba8fc87f55b1191c50c400dc7ed11c,A
3,006728e4c10e957011e1f24878e6054a,0,48ec4e6c52f418d5ca4ef510ba473ea0,45ba8fc87f55b1191c50c400dc7ed11c,A
18,006728e4c10e957011e1f24878e6054a,0,d00d552bc4e50f63f9397a74514519ba,45ba8fc87f55b1191c50c400dc7ed11c,A
16,006728e4c10e957011e1f24878e6054a,0,1b37fed4823f31ccbf03515f4b9fe438,45ba8fc87f55b1191c50c400dc7ed11c,A
28,006728e4c10e957011e1f24878e6054a,0,7027df5d9c51192f3527ac8c74b4d08d,45ba8fc87f55b1191c50c400dc7ed11c,I
6,006728e4c10e957011e1f24878e6054a,0,616281dee946056b071699476fdee9ec,45ba8fc87f55b1191c50c400dc7ed11c,A
7,006728e4c10e957011e1f24878e6054a,0,e814950408915f43de2b079dce7c21c5,45ba8fc87f55b1191c50c400dc7ed11c,A
11,006728e4c10e957011e1f24878e6054a,0,99104de2626f67c1fa2ce70504970c3f,45ba8fc87f55b1191c50c400dc7ed11c,A
20,006728e4c10e957011e1f24878e6054a,0,4ef3dae16c436459ff05156abca5cebd,45ba8fc87f55b1191c50c400dc7ed11c,A
29,006728e4c10e957011e1f24878e6054a,0,d81d912f81fa43178f423aa89a713e96,45ba8fc87f55b1191c50c400dc7ed11c,A

This dataset provides play by play information on the event level for each game.To properly sort the events in a game, use the following sequence of sorted columns: Period(ascending), PC_Time(descending), WC_Time(ascending), Event_Num(ascending)
* Event_Num– an ordered counter for each event in a game. Note, this number may not be perfectly sequential so please use the sorting methodology outlined above
* Event_Msg_Type, Action_Type– coded descriptions of what happened during the event (see the Event_Codes.txtdataset to see the codes)
* WC_Time– the in-arena time of the event in Unix format. It is coded as tenths of a second
* PC_Time– the time on the game clock in tenths of a second (e.g. 7200 corresponds to 720 seconds/12 minutes remaining in the quarter)
* Option1– on a shot attempt, this column will tell you the point value of the shot•On free throw attempts, if the value in this column is 1, it means it was a made free throw, otherwise, it was missed 
* Person1, Person2– the Person_id’s of the players who are directly associated with the event (e.g. if the event is an assisted made basket, Person1 is the shot maker and Person2 is the player who assisted)• In the case of a substitution, the Event_Msg_Type will be 8, Person1 will be the Person_id for the player leaving the game, and Person2 will be the Person_idfor the player entering the game
* Team_id– in most scenarios, this is the Team_id associated with the Person1 column. However, there are instances when this is not the case. To accurately and consistently identify a player’s team, we suggest merging with the Game_Lineup dataset on the Person1 and Person2 columns.

In [7]:
playxplay_df.sort_values(['Period', 'PC_Time', 'WC_Time', 'Event_Num'], 
                         ascending = [True, False, True, True],
                         inplace=True) #sorted based on above instructions
display(playxplay_df.head(10))
print(playxplay_df.dtypes)

,Game_id,Event_Num,Event_Msg_Type,Period,WC_Time,PC_Time,Action_Type,Option1,Option2,Option3,Team_id,Person1,Person2,Person3,Team_id_type,Person1_type,Person2_type,Person3_type
20607,a466c76e072fd634f6d4a8938fb63caa,2,12,1,330350,7200,0,0,0,0,1473d70e5646a26de3c52aa1abd85b1f,0370a0d090da0d0edc6319f120187e0e,0370a0d090da0d0edc6319f120187e0e,0370a0d090da0d0edc6319f120187e0e,0,0,0,0
20608,a466c76e072fd634f6d4a8938fb63caa,4,10,1,330350,7200,0,0,0,0,0a6fc39f34702cff144525dfd265f8fa,b265ffd84dbeef427136d140811e7d5f,90115ca1e9f545b291b18a7db8d2a700,95c8abc40fb4ecf4fa5627975450dc95,2,4,5,4
30761,d36de5306a05d0cdbd51a7294ac91359,2,12,1,330550,7200,0,0,0,0,1473d70e5646a26de3c52aa1abd85b1f,0370a0d090da0d0edc6319f120187e0e,0370a0d090da0d0edc6319f120187e0e,0370a0d090da0d0edc6319f120187e0e,0,0,0,0
31634,d522ea3836b8e1977ab10b3bfeb5dfd1,2,12,1,330550,7200,0,0,0,0,1473d70e5646a26de3c52aa1abd85b1f,0370a0d090da0d0edc6319f120187e0e,0370a0d090da0d0edc6319f120187e0e,0370a0d090da0d0edc6319f120187e0e,0,0,0,0
31635,d522ea3836b8e1977ab10b3bfeb5dfd1,4,10,1,330550,7200,0,0,0,0,8362dfecb7412f12a12713852d2ae566,ef8b068ab7ac9d387b256404acd24cd5,64e4b07f8d90902bcab1aa9e6b5d2ecf,95920e4bf5b6c15ba8dffbf959b38ba5,2,4,5,4
30762,d36de5306a05d0cdbd51a7294ac91359,4,10,1,330560,7200,0,0,0,0,0a6fc39f34702cff144525dfd265f8fa,95c17413c3df2cb6709f0b23d27b5340,b265ffd84dbeef427136d140811e7d5f,95c8abc40fb4ecf4fa5627975450dc95,3,4,5,5
11815,68f62f1c5cb84257932676bef8cc7a1a,2,12,1,379620,7200,0,0,0,0,1473d70e5646a26de3c52aa1abd85b1f,0370a0d090da0d0edc6319f120187e0e,0370a0d090da0d0edc6319f120187e0e,0370a0d090da0d0edc6319f120187e0e,0,0,0,0
11816,68f62f1c5cb84257932676bef8cc7a1a,4,10,1,379630,7200,0,0,0,0,012059d397c0b7e5a30a5bb89c0b075e,bca65b4d1889c9c4c97d5dfa6efb117b,8c646f2710d4f64955903039fdc6374e,b43d8e250bbf5bf03bcbbd2f48141acd,3,4,5,5
14617,7b4b6c18c831bc54239f663d0e604497,2,12,1,402920,7200,0,0,0,0,1473d70e5646a26de3c52aa1abd85b1f,0370a0d090da0d0edc6319f120187e0e,0370a0d090da0d0edc6319f120187e0e,0370a0d090da0d0edc6319f120187e0e,0,0,0,0
14618,7b4b6c18c831bc54239f663d0e604497,4,10,1,402920,7200,0,0,0,0,cd45058739ed0ac8229849c6249aad48,bfef77a3e57907855444410d490e7bfd,0b703add83e9319d7b3accc14e153436,31598ba01a3fff03ed0a87d7dea11dfe,2,4,5,4

Game_id           object
Event_Num          int64
Event_Msg_Type     int64
Period             int64
WC_Time            int64
PC_Time            int64
Action_Type        int64
Option1            int64
Option2            int64
Option3            int64
Team_id           object
Person1           object
Person2           object
Person3           object
Team_id_type       int64
Person1_type       int64
Person2_type       int64
Person3_type       int64
dtype: object

In [8]:
num_games = game_lineup_df['Game_id'].nunique() #value between 60 and 105 
num_teams = game_lineup_df['Team_id'].nunique() #should be 16
num_players = game_lineup_df['Person_id'].nunique() #should be 240 if max number of players on every team

In [9]:
print('Number of games is ' + str(num_games))
print('Number of teams is ' + str(num_teams))
print('Number of players is ' + str(num_players))

Number of games is 82
Number of teams is 16
Number of players is 240

We will merge the game_lineup_df with the play by play dataframe as instructed. However, I want to clarify if all Person 1 and Person 2 are always on the same team.

In [37]:
person1_df = playxplay_df.merge(game_lineup_df, left_on=['Person1'], right_on=['Person_id'])
person2_df = person1_df.merge(game_lineup_df, left_on=['Person2'], right_on=['Person_id'])

In [38]:
(person2_df['Team_id_y'] == person2_df['Team_id']).head(5)

0    False
1    False
2    False
3    False
4    False
dtype: bool

In [41]:
# inspecting what messages cause teams to be different, pull values from inspecting df
action_type = 0
event_msg = 10

codes_df[(codes_df['Event_Msg_Type'] == event_msg) & (codes_df['Action_Type'] == action_type)]

,Event_Msg_Type,Action_Type,Event_Msg_Type_Description,Action_Type_Description
266,10,0,Jump Ball,

In [44]:
codes_df[codes_df['Action_Type'] == action_type].head(10)

,Event_Msg_Type,Action_Type,Event_Msg_Type_Description,Action_Type_Description
0,1,0,Made Shot,No Shot
78,2,0,Missed Shot,No Shot
156,3,0,No Shot,NaN
175,4,0,Rebound,Unknown
178,5,0,Turnover,No Turnover
218,6,0,Foul,No Foul
246,7,0,Violation,No Violation
254,8,0,Substitution,
259,9,0,Timeout,No Timeout
266,10,0,Jump Ball,

So it makes sense that Person1 and Person2 can be on different teams, for example: a jump ball. However, I thought action type had a 1:1 mapping with descriptions. Below by pigeon hole principle, we see that is not the case.

In [45]:
codes_df['Action_Type'].nunique()

108

In [46]:
codes_df['Action_Type_Description'].nunique()

190

In [49]:
event_types_str = codes_df['Event_Msg_Type'].astype(str)
action_types_str = codes_df['Action_Type'].astype(str)
unique_combos = (event_types_str + action_types_str).nunique()
unique_desr = (codes_df['Event_Msg_Type_Description'] + codes_df['Action_Type_Description']).nunique()

In [50]:
print('Combining event types with action types: ' + str(unique_combos))
print('Combining event desriptions with action descprtions: ' + str(unique_desr))

Combining event types with action types: 284
Combining event desriptions with action descprtions: 266

Returning to merging the two dataframes as instructed, we are preserving two team id, one for person 1 and 1 for person 2. We are going to re-run the merge so it is cleaner as well as drop some unhelpful columns

In [70]:
for_merge = game_lineup_df[['Person_id', 'Team_id']]
plays_df = playxplay_df.merge(for_merge, left_on=['Person1'], right_on=['Person_id'])
plays_df = plays_df.merge(for_merge, left_on=['Person2'], right_on=['Person_id'])

In [71]:
plays_df.dtypes

Game_id           object
Event_Num          int64
Event_Msg_Type     int64
Period             int64
WC_Time            int64
PC_Time            int64
Action_Type        int64
Option1            int64
Option2            int64
Option3            int64
Team_id_x         object
Person1           object
Person2           object
Person3           object
Team_id_type       int64
Person1_type       int64
Person2_type       int64
Person3_type       int64
Person_id_x       object
Team_id_y         object
Person_id_y       object
Team_id           object
dtype: object

In [72]:
plays_df.drop(columns=['Team_id_x', 'Person_id_x', 'Person_id_y'], inplace=True)
plays_df.rename(columns={'Team_id_y' : 'Team1_id', 'Team_id' : 'Team2_id'}, inplace=True)

In [74]:
plays_df.sort_values(['Period', 'PC_Time', 'WC_Time', 'Event_Num'], 
                    ascending = [True, False, True, True],
                    inplace=True) 
plays_df.dtypes

Game_id           object
Event_Num          int64
Event_Msg_Type     int64
Period             int64
WC_Time            int64
PC_Time            int64
Action_Type        int64
Option1            int64
Option2            int64
Option3            int64
Person1           object
Person2           object
Person3           object
Team_id_type       int64
Person1_type       int64
Person2_type       int64
Person3_type       int64
Team1_id          object
Team2_id          object
dtype: object